<% include partials/header %>

<h1>Sign Up!!!</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="confirm password" name="password2">
    <button>Sign Up</button>
</form>

<% include partials/footer %>
